---
// Animated geometric grid + pulsing dot network background.
// Ported verbatim from practicalaiservices.com.
---
<div class="background-canvas" aria-hidden="true"></div>
<div class="network-dots" aria-hidden="true">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
